@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400&display=swap");

:root {
  --accent: 249, 86, 7;
  --alpha-background: 0.1;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

a {
  text-decoration: none;
  color: #000;
}

.container {
  padding: 20px 10px;
}

button {
  border: none;
  cursor: pointer;
}

button:active {
  opacity: 0.8;
}
