@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400&display=swap");

:root {
  --accent: 249, 86, 7;
  --alpha-background: 0.1;

  --success: 0, 128, 0; /* Green */
  --danger: 255, 0, 0; /* Red */

  --ipad: 670px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

/* body {
  background: #f3f3f3;
} */

a {
  text-decoration: none;
  color: #000;
}

.container {
  padding: 20px 10px;
}

button {
  border: none;
  cursor: pointer;
}

button:active {
  opacity: 0.8;
}

.truncate-3 {
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

@media only screen and (min-width: 670px) {
  .container {
    padding: 30px;
  }
}
