.nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
  padding: 10px;
  box-shadow: 0 4px 6px -1px rgb(0 0 0 / 0.1), 0 2px 4px -2px rgb(0 0 0 / 0.1);
}

.logo {
  font-weight: 800;
  font-size: 20px;
  color: rgb(var(--accent));
}

.links {
  width: 100%;
  height: 100%;
  display: flex;
  gap: 30px;
}

.searchWithIcon {
  display: flex;
  flex-grow: 1;
  align-items: center;
  width: 100%;
  height: 100%;
  border-radius: 6px;
  background: rgb(var(--accent));
}

.inputContainer {
  display: flex;
  flex-grow: 1;
  align-items: center;
  border-top-left-radius: 6px;
  border-bottom-left-radius: 6px;
}

.inputSearch {
  height: 34px;
  padding: 10px;
  border-top-left-radius: 6px;
  border-bottom-left-radius: 6px;
  flex-grow: 1;
  border: 1px solid rgb(var(--accent));
}

.inputIcon {
  border-top-right-radius: 6px;
  border-bottom-right-radius: 6px;
  color: #fff;
  padding: 0 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.inputIcon:hover {
  opacity: 0.8;
}

.searchIcon {
  width: 20px;
  height: 20px;
}

.iconContainer {
  position: relative;
}

.shoppingCart:hover {
  cursor: pointer;
  opacity: 0.8;
}

.icon {
  width: 30px;
  height: 30px;
  display: block;
}

.iconNotification {
  position: absolute;
  width: 16px;
  height: 16px;
  border-radius: 50%;
  background: rgb(var(--accent));
  top: -5px;
  right: -5px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 12px;
  color: #fff;
}

@media only screen and (min-width: 670px) {
  .nav {
    padding: 10px 30px;
    gap: 30px;
  }

  .logo {
    font-size: 25px;
  }

  .inputSearch {
    height: 40px;
  }

  .icon {
    width: 35px;
    height: 35px;
  }

  .iconNotification {
    width: 20px;
    height: 20px;
  }
}
