.products {
  margin-top: 15px;
  display: grid;
  gap: 20px;
  grid-template-columns: repeat(1, minmax(0, 1fr));
}

.product {
  background: #f8f8f8;
  padding: 10px;
  border-radius: 20px;
}

.ad {
  margin-bottom: 20px;
}

.adImage {
  width: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.imageContainer {
  background: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
  padding: 20px;
}

.image {
  width: 100px;
}

.content {
  margin-top: 20px;
  padding: 10px;
}

.title {
  font-size: 18px;
}

.description {
  font-size: 16px;
  margin-top: 5px;
  color: #6b6b6b;
}

.price {
  font-size: 25px;
  font-weight: 800;
  margin-top: 20px;
  color: rgb(var(--accent));
}

/* ipad air */
@media only screen and (min-width: 670px) {
  .products {
    grid-template-columns: repeat(2, minmax(0, 1fr));
    gap: 20px;
  }

  .ad {
    grid-column: span 2 / span 2;
  }

  .imageContainer {
    height: 220px;
  }

  .content {
    margin-top: 20px;
    padding: 10px;
  }

  .title {
    font-size: 20px;
  }

  .description {
    margin-top: 10px;
  }
}

/* ipad pro */
@media only screen and (min-width: 1024px) {
  .products {
    grid-template-columns: repeat(3, minmax(0, 1fr));
  }

  .dominantProduct {
    grid-column: span 2 / span 2;
  }

  .ad {
    grid-column: span 3 / span 3;
  }
}

@media only screen and (min-width: 1600px) {
  .products {
    grid-template-columns: repeat(4, minmax(0, 1fr));
  }

  .dominantProduct {
    grid-column: span 2 / span 2;
  }

  .ad {
    grid-column: span 4 / span 4;
  }
}
