.products {
  margin-top: 15px;
  display: flex;
  flex-direction: column;
}

.product {
  background: rgba(var(--accent), 0.05);
  margin-bottom: 20px;
  padding: 10px;
  border-radius: 20px;
}

.imageContainer {
  background: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
  padding: 20px;
}

.image {
  width: 100px;
}

.content {
  margin-top: 20px;
  padding: 10px;
}

.description {
  font-size: 14px;
  margin-top: 5px;
}

.price {
  font-size: 25px;
  font-weight: 800;
  margin-top: 20px;
  color: rgb(var(--accent));
}

.category {
  font-size: 12px;
  margin-top: 5px;
}

.buyButton {
  background: rgb(var(--accent));
  color: #fff;
  margin-top: 20px;
  width: 100%;
  padding: 15px 20px;
  text-transform: uppercase;
  border-radius: 5px;
}

.cancelButton {
  margin-top: 10px;
  background: none;
  width: 100%;
  border: 1px solid rgb(var(--accent));
  color: rgb(var(--accent));
  padding: 15px 20px;
  text-transform: uppercase;
  border-radius: 5px;
}

.cancelButton:active {
  background: rgba(var(--accent), var(--alpha-background));
}

.ratingNumber {
  font-size: 14px;
  font-weight: 800;
}

.ratingComponent {
  display: flex;
  align-items: center;
  gap: 5px;
  margin-bottom: 10px;
}

.ad {
  margin-bottom: 20px;
}

.adImage {
  width: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.buttonContainer {
  margin-top: 10px;
  width: 100%;
  display: flex;
  gap: 10px;
  align-items: center;
  justify-content: center;
}

.increaseQtyButton {
  font-size: 20px;
  flex-grow: 1;
  padding: 10px 15px;
  border-radius: 5px;
  font-weight: 800;
  background: rgba(var(--success), var(--alpha-background));
  color: rgb(var(--success));
}

.quantityContainer {
  flex-grow: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px 15px;
  /* background: rgb(239, 239, 239); */
}

.quantity {
  font-weight: 800;
}

.decreaseQtyButton {
  font-size: 20px;
  flex-grow: 1;
  padding: 10px 15px;
  border-radius: 5px;
  font-weight: 800;
  background: rgba(var(--danger), var(--alpha-background));
  color: rgb(var(--danger));
}
