.products {
  margin-top: 15px;
  display: flex;
  flex-direction: column;
}

.product {
  background: rgb(228, 234, 234);
  margin-bottom: 20px;
  padding: 10px;
  border-radius: 20px;
}

.image-container {
  background: white;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
  padding: 20px;
}

.product-image {
  width: 100px;
}

.product-content {
  margin-top: 20px;
  padding: 10px;
}

.product-description {
  font-size: 14px;
  margin-top: 5px;
}

.truncate {
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.product-price {
  font-size: 25px;
  font-weight: 800;
  margin-top: 20px;
  color: #007777;
}

.product-category {
  font-size: 12px;
  margin-top: 5px;
}

.buy-button {
  background: green;
  color: #fff;
  margin-top: 20px;
  width: 100%;
  padding: 15px 20px;
  text-transform: uppercase;
  border-radius: 5px;
}

.cancel-button {
  margin-top: 10px;
  background: none;
  width: 100%;
  border: 1px solid #dbdbdb;
  padding: 15px 20px;
  text-transform: uppercase;
  border-radius: 5px;
}

.cancel-button:active {
  background: #dbdbdb;
}

.rating-number {
  font-size: 14px;
  font-weight: 800;
}

.rating-component {
  display: flex;
  align-items: center;
  gap: 5px;
  margin-bottom: 10px;
}
