.slides {
  width: 100%;
  background: rgb(247, 247, 247);
}

.slide-image {
  width: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* .swiper-pagination {
  background: rgba(var(--accent), var(--alpha-background));
} */

.swiper-pagination-bullet {
  background: gray;
  box-shadow: 0 4px 6px -1px rgb(0 0 0 / 0.1), 0 2px 4px -2px rgb(0 0 0 / 0.1);
}

.swiper-pagination-bullet-active {
  background-color: rgb(var(--accent));
}

.ad {
  margin-bottom: 20px;
}

.ad-image {
  width: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
